@import 'bulma.css';



html {
    font-size: 1rem;
}
.hero {
    position: relative;
    height: 75vh !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("assets/images/Wanderreiten.jpg") lightgray 50% / cover no-repeat;

    background-size: cover;
    background-position: top center;
}
.hero .title {
    font-size: clamp(4rem, 9vw, 6rem);
    font-weight: 350;
}
.hero .subtitle {
    font-size: clamp(0.4rem, 5vw, 2rem);
    font-weight: 300;
}
body {
}
.navbar-item{
    font-size: large;
}
.button :hover {
    background-color: #f0f0f0;
}

.subtitle {
}