@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html {
    font-size: 1rem;
}
:root {
  --color-primary: #F6DB8A;
  --color-secondary: #F6DB8A;
  --color-font: #202020;
}
.hero {
    position: relative;
    height: 75vh !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("assets/images/Wanderreiten.jpg") lightgray 50% / cover no-repeat;

    background-size: cover;
    background-position: top center;
}
.hero .title {
  font-size: clamp(4rem, 9vw, 6rem);
    color: var(--color-primary);
    font-weight: 350;
}
.hero .subtitle {
    color: var(--color-primary);
    font-size: clamp(0.4rem, 5vw, 2rem);
    font-weight: 300;
}
body {
    background-color: var(--color-primary);
}
.navbar-item{
    color: var(--color-primary);
    font-size: large;

}
.navbar-item:hover {
    color: #fff !important;
    background-color: transparent;
}
.title {
    color: var(--color-font);
}
.subtitle {
    color: var(--color-font);
}